<a href="https://colab.research.google.com/github/ChristanSanchez/VDA-CPE-031-CPE21S4/blob/main/Exercise_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EXAMPLES

Example 1

In [16]:
import pandas

mydataset = {
'animals':["Cat","Dog","rabbit"],
'height':[13,17,8]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

  animals  height
0     Cat      13
1     Dog      17
2  rabbit       8

Example 2

In [15]:
import pandas as pd

a = [1.5,7.5,2.5]

myvar = pd.Series(a)

print(myvar[0])

1.5

Example 3

In [17]:
import pandas as pd
data = {

 "age" : [42, 38, 39],
 "weight": [50, 40, 45]
}

myvar = pd.DataFrame(data)
print(myvar)

   age  weight
0   42      50
1   38      40
2   39      45

Example 4

In [29]:
import pandas as pd
#series using data frames

s1 = pd.Series([0,4,8])
s2 = pd.Series([1,5,9])
s3 = pd.Series([2,6,10])
s4 = pd.Series([5,10,15])

dframe = pd.DataFrame([s1,s2,s3,s4])
#dframe = dframe.drop([0])

print(dframe)

   0   1   2
0  0   4   8
1  1   5   9
2  2   6  10
3  5  10  15

Example 5

In [30]:
import pandas as pd

s1 = pd.Series([0,4,8])
s2 = pd.Series([1,5,9])
s3 = pd.Series([2,6,10])
s4 = pd.Series([5,10,15])

#creating multi-dimentional table
dframe = pd.DataFrame([s1,s2,s3,s4], index =[0,1,2,3], columns =[0,1,2])
print(dframe)

   0   1   2
0  0   4   8
1  1   5   9
2  2   6  10
3  5  10  15

# Challenge

 How are you going delete indices no 0,1,3 leaving only all items in index 2?

In [31]:
import pandas as pd

s1 = pd.Series([2, 4, 6])
s2 = pd.Series([1, 3, 5])
s3 = pd.Series([0, 11, 13])
s4 = pd.Series([5, 10, 15])

dframe = pd.DataFrame([s1, s2, s3, s4])

dframe = dframe.drop(index=[0, 1, 3])

print(dframe)

   0   1   2
2  0  11  13